<div class="noti_flash hide">
<div class="alert alert-success alert-dismissable">
    <button class="noti-close close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
    <div id="flash_notice">Your request has gone for owner to approval.Please wait !!!</div>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @listing.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.name %></h3>
      <p><%= number_to_currency(@listing.price) %> per day</p>
      <p><%= @listing.description %></p>
    <br>
    <div class="col-md-6">
      <%=label_tag "start_date" %>
       <%= text_field_tag "start_date",@listing.start_date.strftime("%Y/%m/%d"),{:id=>"checkin"}%>
      
    </div>
    <div class="col-md-6">
    <%=label_tag "end_date" %>
    <%= text_field_tag "end_date",@listing.end_date.strftime("%Y/%m/%d"),{:id=>"checkout"}%>
  </div>
    
  </div>

</div>
 <div class="left">
      <%#unless current_user.is_owner?(@listing.user)%>
        <% if @notification.present? && @notification.approval_status.eql?("accepted") %>
          <%= link_to "Rent It Now", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
        <%elsif @notification.present? %>
          <%= link_to "Rent It Now",'javascript:void(0)', class: "btn btn-primary", data: { no_turbolink: true } %>
        <%else%>
           <%= link_to "Rent It Now", 'javascript:void(0)', class: "rent btn btn-primary", data: { no_turbolink: true } %>
        <%end%> 
     <%#end%>  
</div>

<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>

<script>
   $(window).ready(function(){
        $("td.day").not(".disabled").hover(function() {
          $(this).tooltip({
            title : '<%=@listing.price%>'
          });
      
        });
    });
    $(document).on('click','.rent',function(){
       $.ajax({
          url: '/listings/<%=@listing.id%>/send_notification' 
       });
    });
   
</script>


